/*Structure*/
body {
    font-family:cursive;
    background:#73325C;
    background-size:cover;
}
#content {
    width:95%;
    margin: auto;
    background: #73325C;
    border-radius: 5px;
    padding: 5px;
}
#main-header {
    background: lightpink;
    color:white;
    border-radius: 5px;
    padding: 5px;
}
div {
    background-color:lightpink;
    width: 70%;
    margin:auto;    /*center*/
    padding: 1%;  /*get text away from edge*/
    border-radius:5px;  /*round corners*/
}
/*Typography*/

h1 {
    color:deeppink;
}
a {
    text-decoration: none;

}
p {
    color: #73325C;
    text-align: center;
}


/*Main Navigation*/
#main-nav ul {
    list-style-type: none; /*remove bullets*/
    text-align: center;
}

#main-nav li {
    border-bottom: 1px solid hotpink;
}
#main-nav li:first-child{
    border-top:1px solid hotpink;
}

#main-nav a {
    color:deeppink;
    padding: 10px 5px;
    display: block;
    text-decoration: none; /*remove the under lines*/
}
#main-nav a:hover {
    background: white;
    color:hotpink;
}


/*Typography*/
h1 {
    text-align: center;
}
/*Larger Device*/
@media only screen and (min-width: 768px) {
    body {
        background: url("cloudy-sky-dawn.jpg");
        background-size: cover;
    }
    #content {
        width: 70%;

    }
    /*Columns*/
    .columns {
        display:flex;
    }
    /*Main Nav*/
    #main-nav li {
        flex:1
    }
    #main-nav li, #main-nav li:first-child {
        border:none;
    }
    #main-nav a {
        text-align: center;
        padding: 5px;
    }

    #main-nav a:hover{
        background: lightpink;
        color:#73325C;
        border-bottom: 1px solid white;
    }

 
}
